HELP.md


target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 本地配置（含 API Key 等敏感信息，禁止提交） ###
application-local*.yml
TestApiKey.java

tmp/

### WorkBuddy 项目数据（含个人隐私，禁止提交） ###
.workbuddy/
